html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

.wrapper{
    display: flex;
    justify-content: center;
}

#first_wrapper{
    background-color:rgb(101, 206, 224);
}

#first{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 7rem;
    max-width: 1500px;
    padding: 1rem 14rem 7rem;
}

div #header{
  display: flex;
  justify-content: space-between;  
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

li{
    flex: 1;
    flex-basis: auto;
}

.header_nav{
    display: flex;
    gap: 3rem;
}

.team7_body{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}

.team7_left{
    flex: 1 1 0;
}

.team7_right img{
    max-width: 400px;
    max-height: calc(214px + 1rem);
    border-radius: 7px;
}

a{
    text-decoration: none;
}